NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YXB0LWRyYWdvbi05OS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_fMmoAQTCB3fh38MpDiVBC7UyDzIbFngRehVMXdCWjP
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://neondb_owner:npg_r8gFZCV5qLwX@ep-flat-thunder-a24rn6qe-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require"
# uncomment next line if you use Prisma <5.10
DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_r8gFZCV5qLwX@ep-flat-thunder-a24rn6qe.eu-central-1.aws.neon.tech/neondb?sslmode=require"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="ddiwjqltw"
STRIPE_API_KEY=sk_test_51NkZUPKaWrCWAtdqLkIlW0Ye7ll2dTeovU6jlkfo7mX5fwEJpPgI9wdoMh1Lc0ATtMiUdGNjuSdBpvr3SeD3cbz300JQSrbTPm
FRONTEND_STORE_URL=http://localhost:3001
STRIPE_WEBHOOK_SECRET=whsec_15e1df1a783a5a5a44deedd25d0374a46f9803896cbeef29d9d1db6cf8f9a167